body {
    background-color: #f8f9fa; 
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #343a40; 
    color: rgb(183, 181, 181); 
}

h1 {
    margin-top: 20px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.dropdown-menu{
    background-color: rgb(169, 247, 247);
    width: 300px;
}

.dropdown-item{
    width: 97%;
    margin: 5px;
}

.dropdown-item:hover{
    border: 1px dashed;
    transition: 0.5s;
}

