body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    background-color: rgba(91, 225, 136, 0.841);
}

header label {

    height: 40px;
    width: 40px;
    display: none;
    padding-left: 10px;
}

header label img {

    height: 40px;
    width: 40px;
}

header label :hover {
    transition: background-color 0.6s;
    cursor: pointer;
    background-color: rgb(8, 163, 47);
}

#btn_menu {
    display: none;
}
.menu{
    display: flex;
    flex-direction: row;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

.menu li a{
    padding: 15px 20px;
    color: rgb(41, 40, 40);
    text-decoration: none;
    display: block;
}
.menu li a:hover{
    transition: background-color 0.6s;
    background-color:  rgb(8, 163, 47);
}
@media(max-width:768px){
    header label {
        display: block;
    }
    .menu{
        position: absolute;
        background-color: rgba(91, 225, 136, 0.841);
        width: 40%;
        margin-left: 0px;
        transition: 0.5s;
        display: none;
    }
    #btn_menu:checked + label + .menu {
        display: block;
    }
    .menu ul{
        flex-direction: column;
    }
}